@size-600:   ~"only screen and (min-width: 600px)";
@size-900:   ~"only screen and (min-width: 900px)";
@size-1200:   ~"only screen and (min-width: 1200px)";

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    transition: 0.3s background-color, 0.3s color;
    background-color: var(--bg-color);
    color: var(--text-color);
    
    &.light {
        --bg-color: #e2e2e2;
        --bg-intense-color: #eeeeee;
        --text-color: #511814;
        --text-intense-color: #000000;
        --main-color: #f9eeea;
        --border-color: #c9c9c9;
        --json-key: #1378C3;
        --json-string: #A21360;
        --json-number: #148659;
    }
    
    &.dark {
        --bg-color: #2c2c2c;
        --bg-intense-color: #232323;
        --text-color: #e3dcd0;
        --text-intense-color: #ffffff;
        --main-color: #241610;
        --border-color: #3c3c3c;
        --json-key: #68CEFE;
        --json-string: #CE9178;
        --json-number: #B5CEA0;
    }

    #frame {
        width: 100%;
        max-width: 1200px;
        padding: 0 10px;
        margin: auto;
        box-sizing: border-box;
        
        @media @size-600 {
            padding: 0 20px;
        }

        a {
            text-decoration: none;
            color: #2689cc;
            cursor: pointer;

            &:hover {
                color: darken(#2689cc, 10%);
            }
        }

        ul {
            list-style: none;

            li {
                margin-bottom: 7px;
            }
        }

        .quote {
            margin-left: 20px;
            padding: 5px 0 5px 10px;
            border-left: 2px solid #939393;
            color: #939393;
            font-size: 0.9rem;
        }

        h1 {
            text-shadow: 2px 1px 3px #cc4b13;
            display: flex;
            align-items: center;
            margin-bottom: 50px;

            img {
                height: 35px;
                margin-right: 10px;
                box-shadow: 1px 1px 3px var(--bg-intense-color);
                border-radius: 3px 11px 3px 3px;

                @media @size-600 {
                    margin-right: 20px;
                }
            }

            #time-sign {
                height: 15px;
                width: 15px;
                display: inline-block;
                border-radius: 100%;
                margin-left: 15px;
                transition: 3s background;
                box-shadow: 0 0 5px #2c2c2c inset;
            }
        }

        h2 {
            margin-top: 40px;
        }

        #gas-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 40px 0 60px;
            
            .gas {
                box-shadow: 0px 0px 15px #74747424;
                border-radius: 3px;
                border: 1px solid var(--border-color);
                background-color: var(--bg-intense-color);
                width: 200px;
                margin-bottom: 10px;
    
                .title {
                    height: 35px;
                    border-bottom: 1px solid var(--border-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        margin-left: 10px;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.8;
                        }    
                    }
                }
    
                .body {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 75px;
                    font-size: 1.4rem;
                }
            }
        }
    
        .code {
            border: 1px solid var(--border-color);
            background-color: var(--bg-intense-color);
            color: var(--text-intense-color);
            border-radius: 3px;
            padding: 20px 30px;
            overflow-x: auto;
    
            &.inline {
                padding: 2px 5px;
            }

            .json{
                &.key {
                    color: var(--json-key);
                }

                &.string {
                    color: var(--json-string);
                }

                &.number {
                    color: var(--json-number);
                }
            }
        }

        .red {
            color: red;
        }
    }

    footer {
        width: 100%;
        border-top: 1px solid var(--border-color);
        display: flex;
        justify-content: space-between;
        padding: 20px 0 5px;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        background-color: var(--main-color);      
        
        .row {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            
            @media @size-600 {
                flex-direction: row;
                align-items: flex-start;
            }

            .title {
                font-size: 1.2rem;
                margin-bottom: 15px;
                text-align: center;
            }

            &.social {
                display: flex;
                width: 100px;
                justify-content: space-between;
                flex-direction: row;

                @media @size-600 {

                }

                i {
                    font-size: 1.4rem;
                    color: var(--text-color);

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .resources {
                margin-bottom: 20px;

                @media @size-600 {
                    margin-bottom: 0;
                }

                .item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;

                    color: var(--text-color);
                    text-decoration: none;

                    &:hover {
                        opacity: 0.8;
                    }
    
                    img {
                        height: 20px;
                        width: 20px;
                    }

                    span {
                        margin-left: 10px;

                        &.gray {
                            color: #8d887f;
                            font-size: 0.9rem;
                        }
                    }
                }
            }

        }

        #donate-container {
            border-top: 1px solid var(--border-color);
            padding-top: 5px;
            margin-top: 20px;

            #donate {
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                border-radius: 3px;
                padding: 5px 10px;
                box-sizing: border-box;
                border: 1px solid #00000000;
                transition: 0.3s border, 0.3s background;

                @media @size-600 {
                    flex-direction: row;
                }

                &.disabled {
                    filter: grayscale(1);
                    opacity: 0.5;
                    cursor: not-allowed;

                    &:hover {
                        border-color: transparent;
                        background-color: transparent;
                    }    
                }

                &:hover {
                    border-color: var(--border-color);
                    background-color: #ffffff0a;
                }

                div {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;

                    @media @size-600 {
                        margin-top: 0;
                    }

                    #wallet {
                        font-family: monospace;
                        color: var(--text-intense-color);
                        
                        @media @size-600 {
                            margin-left: 10px;
                        }
        
                        .long {
                            display: none;
    
                            @media @size-600 {
                                display: inline;
                            }
                        }
    
                        .short {
                            display: inline;
    
                            @media @size-600 {
                                display: none;
                            }
                        }
                    }
            
                    .fa-qrcode {
                        margin-left: 5px;
                        color: var(--text-intense-color);
                        
                        @media @size-600 {
                            font-size: 1.5rem;
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }
    
    header {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        background-color: var(--main-color);

        .col {
            display: flex;
            align-items: center;
            
            #logo {
                display: flex;
                align-items: center;
                margin-left: 10px;
                margin-right: 10px;
                
                @media @size-600 {
                    margin-left: 20px;
                    margin-right: 20px;
                }

                img {
                    height: 35px;
                }
            }

            #price {
                font-size: 0.8rem;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                @media @size-600 {
                    font-size: 0.9rem;
                    flex-direction: row;
                }

                #color {
                    margin-left: 5px;
                }

                .green {
                    color: green;
                }

                .red {
                    color: red;
                }
            }

            #buy-bnb {
                text-decoration: none;
                color: #ebb32c;
                display: flex;
                align-items: center;
                padding: 2px 10px;
                border: 1px solid #ebb32c4a;
                border-radius: 3px;
                font-size: .9rem;
                font-weight: bold;
                background-color: #ebb32c3b;
                margin-left: 15px;
                transition: 0.3s all;
                box-shadow: 0px 0px 2px 0px #00000099;

                &:hover {
                    background-color: #00000000;
                    border-color: #ebb32c;
                }

                img {
                    margin-right: 5px;
                    height: 15px;
                }
            }

            #theme {
                font-size: 1.4rem;
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-right: 10px;

                &:hover {
                    opacity: 0.8;
                }
            }

            #search {
                display: none;
                align-items: center;
                height: 35px;
                
                @media @size-600 {
                    display: flex;
                    margin-left: 0;
                    margin-right: 10px;
                }
                
                @media @size-900 {
                    margin-left: 20px;
                    margin-right: 30px;
                }
                
                input {
                    border: 1px solid #8b8b8b61;
                    border-right-width: 0;
                    border-radius: 3px 0 0 3px;
                    background-color: #8e8e8e14;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                    color: var(--text-intense-color);
                    outline: none;
                    width: 120px;
                    
                    @media @size-900 {
                        width: 350px;
                    }
                }
                
                button {
                    border: 1px solid #3498db61;
                    border-radius: 0 3px 3px 0;
                    background-color: #3498db4d;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    cursor: pointer;
                    transition: 0.3s all;
                    color: inherit;
                    
                    &:hover {
                        background-color: #3498db;
                    }
                }
            }
        }
    }

    #fog {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        background-color: #00000070;

        #donate-window {
            border-radius: 3px;
            background-color: white;
            box-shadow: 2px 2px 5px black;

            #title {
                background-color: #AD2825;
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100px;
                margin-bottom: -50px;
                padding-top: 10px;
                
                span {
                    font-size: 1.2rem;
                    text-shadow: 1px 1px 3px black;
                    
                    &.big {
                        font-weight: bold;
                        font-size: 1.5rem;
                        margin-top: 5px;
                    }
                }
            }

            #qr {
                text-align: center;
                margin-bottom: 20px;

                img {
                    padding: 5px;
                    width: 250px;
                    background-color: white;
                    border-radius: 3px;
                    margin: 20px 20px 0;
                }
            }

            #colored {
                background-color: #AD2825;
                margin-top: -75px;
                padding: 75px 20px 30px;

                #wallet-container {
                    background-color: white;
                    border-radius: 3px;
                    font-size: 1.5rem;
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;
                    transition: 0.3s all;
                    
                    &.copy {
                        background-color: #7cdb7c;
                        color: white;
                    }

                    #wallet {
                        padding: 5px 10px;
                        color: black;
                        font-family: monospace;
                        font-weight: bold;
                        text-align: center; 
                        flex-grow: 1;                       
                    }

                    #copy {
                        color: white;
                        background-color: #AD282550;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 0 3px 3px 0;
                        width: 50px;
                    }
                }
            }
        }
    }

    .tooltip {
        position: fixed;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        background-color: var(--main-color);
        color: var(--text-intense-color);
        border-radius: 3px;
        border: 1px solid var(--text-intense-color);
        pointer-events: none;
        box-shadow: 0px 0px 3px var(--text-color);
        font-size: 1rem;
        text-shadow: none;
        font-weight: normal;
        cursor: help;
    }

    #countdown-container {
        display: flex;
        flex-direction: column;
        font-size: .8rem;
        align-items: flex-end;
        margin-top: -50px;
        margin-bottom: 40px;
        margin-right: 20px;

        #countdown {
            width: 75px;
            height: 10px;
            border: 1px solid var(--text-color);
            background-color: transparent;
            border-radius: 3px;
            
            #filled {
                background-color: green;
                border-radius: 3px 0 0 3px;
                width: 100%;
                height: 100%;
            }
        }
    }
}

